fastapi
uvicorn[standard]
gunicorn
langchain
langchain-core==0.2.35
langchain-google-genai
langchain-community
google-generativeai
google-ai-generativelanguage
pydantic
pydantic[email]
httpx
requests
python-dotenv
python-multipart
structlog
cryptography
python-jose[cryptography]
